{% extends 'base.html.twig' %}
{% block body %}
    {{form_start(form)}}
    {{form_widget(form)}}
    <input type="submit" value="Add Category">
    {{form_end(form)}}

    <h3>Categories</h3>
    {% for names in show %}
        {{names.name}}
        <br>
    {% endfor %}
{% endblock %}
