{% extends 'base.html.twig' %}
{% block body %}
    <h3>Welcome To Admin Page</h3>
    <p><a href="admin/add-category">Add Category</a></p>
    <p><a href="admin/add-city">Add City</a></p>
    <p><a href="admin/add-area">Add Area</a></p>
{% endblock %}
